.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background: white;
    padding: 60px 100px;
    border-radius: 8px;
    max-height: 100vh;
    max-width: 100vw;
}

.modalActions {
    display: flex;
    justify-content: flex-end;
    margin-top: 48px;
    gap: 40px;
}

.title {
    font-family: "GrtskExa Light";
    font-size: 28px;
    line-height: 1;
    margin-bottom: 48px;
}

.text {
    font-family: "GrtskExa Light";
    font-weight: 300;
    font-size: 18px;
    line-height: 1;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
}

.field {
    width: 100%;
    padding: 24px;
    background: #f2f2f2;
    font-size: 18px;
    line-height: 1;
    font-weight: "GrtskExa Light";
    border-radius: 50px;
    border: 1px solid #ccc;
}

@media (max-width: 768px) {
    .modalContent {
        padding: 24px;
    }
    .field {
        padding: 12px;
        font-size: 14px;
    }
    .title{
        margin-bottom: 24px;
    }
    .modalActions {
        margin-top: 24px;
        flex-direction: column;
        gap: 12px;
    }
}