.exitBtn {
    margin-left: 100px;
    margin-bottom: 100px;
}

@media (max-width: 1120px) {
    .exitBtn {
        margin-left: 80px;
    }
}

@media (max-width: 620px) {
    .exitBtn {
        margin: 32px;
    }
}
.buttonsGroup {
    display: flex;
    margin: 80px 100px;
    gap: 20px;
    width: 70vw;
}

@media (max-width: 1120px) {
    .buttonsGroup {
        margin: 32px 80px;
    }
}

@media (max-width: 620px) {
    .buttonsGroup {
        margin: 0;
        width: 100vw;
        padding: 32px;
        padding-bottom: 0;
    }
}
@media (max-width: 490px) {
    .buttonsGroup {
        flex-direction: column;
    }
}

