.background {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    padding: 110px 50px;
    min-height: 100vh;
}

@media (max-width: 768px) {
    .background {
        padding: 40px 20px;
    }
}

.title {
    font-family: "Tenor Sans";
    font-size: clamp(1.75rem, 0.718rem + 4.4vw, 6rem);
    font-weight: normal;
    color: #fff;
    text-align: center;
}

.reader {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50px;
    position: relative;
    background-color: #fff;
    margin: 24px;
}

.container {
    font-family: "Tenor Sans";
    font-size: clamp(1rem, 0.879rem + 0.52vw, 1.5rem);
    font-weight: normal;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error {
    font-family: "GrtskExa Light";
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    margin-bottom: 12px;
}
