.header {
    background-color: #14191a;
    color: #fff;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 16px;
    padding: 38px 32px;
    padding-right: 0;

    .logo {
        font-family: "GrtskMega Bold";
    }

    .title {
        font-family: "GrtskTera Semibold";
        text-align: center;
    }
    .subtitle {
        font-family: "GrtskTera Regular";
        color: #8a8c8c;
    }
}

.right {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 18px 32px;
    padding-left: 0;

    .notification {
        width: 38px;
        height: 40px;
    }
    .avatar {
        width: 64px;
        height: 64px;
    }
}

@media (max-width: 768px) {
    .left {
        gap: 16px;
        font-size: clamp(0.625rem, 0.398rem + 0.73vw, 0.75rem);
        padding: 26px 24px;
    }
    .right {
        gap: 16px;
        padding: 16px 24px;
        .notification {
            width: 26px;
            height: 26px;
        }
        .avatar {
            width: 32px;
            height: 32px;
        }
    }
}
@media (max-width: 495px) {
    .left {
        gap: 12px;
        font-size: 10px;
        padding: 10px 12px;
    }
    .right {
        gap: 12px;
        padding: 8px 12px;
        .notification {
            width: 12px;
            height: 12px;
        }
        .avatar {
            width: 16px;
            height: 16px;
        }
    }
}

@media (max-width: 420px) {
    .left {
        font-size: 8px;
    }
}

.avatar,
.logo,
.notification {
    cursor: pointer;
}

.notificationsPopup {
    position: absolute; /* Position fixed to overlay content */
    top: 104px; /* Adjust as needed to position below the header */
    right: 0px; /* Adjust as needed to position from the right */
    background-color: #14191a; /* Match header color */
    border-radius: 8px; /* Rounded corners */
    z-index: 1000; /* Ensure it appears above other content */
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 18px 32px;
    width: 600px; /* Set a fixed width */
}

@media (max-width: 768px) {
    .notificationsPopup {
        padding: 16px 24px;
        width: 400px; /* Adjust width for smaller screens */
        top: 68px;
    }
}

@media (max-width: 495px) {
    .notificationsPopup {
        padding: 8px 12px;
        width: 300px; /* Adjust width for smaller screens */
        top: 36px;
    }
}

.notificationText {
    text-align: center;
    color: #fff; /* Ensure text is readable */
}

.notificationItem {
    font-family: "GrtskTera Regular";
    color: #fff;
    font-size: clamp(0.625rem, 0.398rem + 0.73vw, 0.75rem);
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align text and button */
    gap: 12px;
}

.notificationWrapper {
    position: relative;
}

.notificationBadge {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    border: 2px solid #14191a; /* Match the header background */
}