.footer {
    background-color: #14191a;
    color: #fff;
    padding: 80px 100px;
    font-family: "GrtskExa Regular";
    font-size: 16px;
    line-height: 32px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

hr {
    margin-top: 40px;
    margin-bottom: 32px;
}

.link {
    color: #fff;
    text-decoration: none;
}

.copyright,
.phone,
.email {
    color: #fff;
}

@media (max-width: 768px) {
    .footer {
        padding: 40px 60px;
        font-size: 12px;
        line-height: 16.8px;
    }
}

@media (max-width: 495px) {
    .footer {
        padding: 15px 20px;
        font-size: 8px;
        line-height: 8px;
    }
}
